/* ==UserStyle==
@name           Dark Portsmouth Moodle
@namespace      https://github.com/TLDRQwerty/Portsmouth-Universtiy-Dark-Moodle
@version        1.0.0
@description    Dark mode for moodle
@author         TLDRQwerty
==/UserStyle== */
@-moz-document url-prefix("https://moodle.port.ac.uk/") {
	:root {
		--bg-color: hsl(0, 0%, 11%);
		--text-color: #f8f9ff;
		--bg-darker-color: hsl(0, 0%, 7%);
		--text-lighter-color: #f5f6f7;
		--light-border-color: white;

		--border: var(--light-border-color) solid 1px;

		--a-text-color: #aaaaaa;
		--a-background-color: var(--bg-color);

		--input-bg-color: var(--bg-color);
		--input-text-color: var(--text-color);

		--button-bg-color: var(--bg-color);
		--button-text-color: var(--a-text-color);
		--button-border-color: white;

		--button-hover-text-color: var(--text-color);
		--button-hover-border-color: var(--text-color);
		--button-active-color: var(--bg-color);
	}
}

@-moz-document url("https://moodle.port.ac.uk/") {
	#page-wrapper,
	html,
	#front-navbar div {
		background: var(--bg-color) !important;
	}

	#page-wrapper h2,
	h3,
	h3 a {
		color: var(--text-color) !important;
	}

	#moodleLogo {
		color: var(--text-color) !important;
		border-color: var(--text-color) !important;
	}

	.forumpost,
	#page-site-index .block_login,
	.generalbox {
		background: var(--bg-darker-color) !important;
		border: var(--border) !important;
		color: var(--text-color);
	}

	#page-site-index .block_login h5 {
		color: var(--text-color);
	}

	.loginform input {
		background: var(--input-bg-color) !important;
		color: var(--input-text-color);
	}

	#page-site-index .block_login input.btn-primary {
		background: var(--button-bg-color) !important;
		color: var(--button-text-color) !important;
		border-color: var(--button-border-color) !important;
	}

	#page-site-index .block_login input.btn-primary:hover {
		color: var(--button-hover-text-color) !important;
		border-color: var(--button-hover-border-color) !important;
	}
}

@-moz-document url-prefix("https://moodle.port.ac.uk/") {
	#page,
	#page-header div,
	#page-content,
	#region-main-box,
	#page-wrapper {
		background: var(--bg-color) !important;
	}

	.card,
	.dropdown-menu,
	.nav-item .popover-region-container,
	.popover-region-footer-container,
	.modal-content,
	.card div {
		background: var(--bg-darker-color) !important;
		color: var(--text-color) !important;
	}

	.popover-region-seeall-text {
		color: var(--a-text-color) !important;
	}

	.popover-region-seeall-text:hover {
		color: var(--text-color) !important;
		border-bottom: var(--text-color)
	}

	.dropdown-menu a {
		color: var(--text-color);
	}

	.dropdown-menu a:hover {
		background: var(--a-background-color);
		color: var(--text-color) !important;
	}


	#page,
	h3,
	h5,
	#usersname {
		color: var(--text-color) !important;
	}

	#page a,
	#page .icon,
	.dropdown-menu a {
		color: var(--a-text-color) !important;
	}

	#page a:hover,
	#page .icon:hover {
		color: var(--text-color) !important;
	}

	#block-region-side-pre .card,
	#block-region-side-pre .card a {
		background: var(--bg-darker-color) !important;
	}

	#region-main .card {
		background: var(--bg-color);
	}

	#block-region-side-pre .card,
	#region-main .card:nth-child(1),
	.dropdown-menu {
		border: var(--border) !important;
	}

	#region-main .card .nav-tabs {
		background: var(--bg-darker-color);
		margin-left: 0px;
		width: 111%;
	}

	#page input {
		background: var(--input-bg-color) !important;
		color: var(--input-text-color);
	}

	#page input:placeholder {
		color: var(--text-color) !important;
	}

	#page button:not(#region-main) {
		background: var(--bg-darker-color) !important;
	}

	#page button,
	#page .nav-link,
	.page button:not(.close),
	#page select {
		background: var(--button-bg-color) !important;
		border: var(--border);
		color: var(--button-text-color) !important;
	}

	#page button:hover,
	#page .nav-link:hover,
	.modal-content button:not(.close):hover,
	#page select:hover {
		color: var(--button-hover-text-color) !important;
	}

	#page .nav-link.active {
		background: var(--button-active-color) !important;
	}

	#nav-drawer {
		border-right: var(--border)
	}



	#page-navbar .breadcrumb {
		background: var(--bg-darker-color) !important;
		color: var(--text-color);
		border: var(--border) !important;
	}
}

@-moz-document url-prefix("https://moodle.port.ac.uk/course/"),
url-prefix("https://moodle.port.ac.uk/user/") {
	#page .navbar-nav,
	#page .node_category {
		background: var(--bg-darker-color) !important;
		border-bottom: var(--border);
	}

	.page-header-headings h1 {
		background: var(--bg-darker-color) !important;
		color: var(--text-color);
		border: var(--border);
	}

	#page .summary div,
	:not(.mediaplugin mediaplugin_videojs) {
		background: var(--bg-darker-color) !important
	}

	tr:nth-child(odd) td {
		background: var(--bg-color) !important;
	}

	tr:nth-child(even) td {
		background: var(--bg-darker-color) !important;
	}

	table td {
		border: var(--border)!important;
	}

	table {
		border: var(--border) !important;
	}

	#filterActivities {
		border: var(--border) !important;
	}
}

@-moz-document url("https://moodle.port.ac.uk/message/index.php") {
	.searchtextarea,
	.tabs .tab {
		background: var(--bg-darker-color) !important;
		border-bottom: var(--border) !important;
	}

	.tabs > div {
		color: var(--a-text-color) !important;
	}

	.tabs > div:hover {
		color: var(--text-color) !important;
	}
}

@-moz-document url("https://moodle.port.ac.uk/login/index.php") {
	#page .card-header {
		border-bottom: var(--border) !important;
		background: var(--bg-color) !important;
	}
}
